/** @format */
.signUpFormContainer .ant-form-item-explain-error,
.invalidPhoneNumber {
  text-align-last: right !important;
  color: #6000da !important;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.signInFormContainer .ant-form-item-explain-error {
  display: none !important;
}
.invalidPhoneNumber {
  position: inherit;
}

.form-control:focus {
  box-shadow: none;
  border: 2px solid #6000da !important;
  outline: #6000da;
}

.ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
  border-color: #d9d9d9;
}
.ant-checkbox-inner {
  border-radius: 50% !important;
  border: 1px solid black !important;
  background-color: transparent !important;
  position: relative !important;
}

.ant-checkbox-inner::after {
  content: "";
  position: absolute !important;
  width: 10px !important;
  height: 10px !important;
  background-color: black !important;
  border-radius: 50% !important;
  transform: translate(-50%, -60%) !important;
  top: 55% !important;
  left: 50% !important;
}

.ant-checkbox .ant-checkbox-inner:after {
  border: 0 !important;
}
.ant-checkbox-input::after {
  content: "";
}
.ant-collapse-header {
  display: flex;
  flex-direction: column;
  font-family: "DM Sans" !important;
  font-weight: 700;
  font-size: 20px;
  line-height: 26.04px;
  padding-top: 0.2em !important;
  padding-bottom: 0 !important;
}

.ant-collapse-expand-icon {
  position: absolute;
  right: 0;
  top: 20%;
  color: #6000da !important;
}
.anticon {
  font-size: 16px !important;
}
.ant-collapse {
  background-color: white;
  width: 360px;
  margin: auto;
  border-radius: 12px !important;
}

.ant-collapse-content {
  border-top: 0 !important;
}
.ant-card-body {
  padding: 10px !important;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0; /* Optional: You can also adjust spacing here */
}
.addItemInputs .ant-input::placeholder {
  color: #6000da !important;
  font-family: "DM Sans", sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 21px !important;
}
.addItemInputs .ant-input {
  padding: 10px !important;
}
.sortListInputContainer .ant-input::placeholder {
  color: #595959;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}
