/** @format */

.container {
  width: 100%;
  height: auto;
  background-color: #f2f2f7;
}
.recentContainer {
  width: 345px;
  margin: 0.4em auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.orderPara {
  font-size: 14px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
}
.orderPara span {
  color: #6000da;
}
.recentContainer img {
  cursor: pointer;
}
.sortListItem {
  width: 370px !important;
  margin: auto;
  background-color: transparent;
}
.inputContainer {
  margin-top: 20em;
  margin-bottom: 2em;
}
