/** @format */

.logoParent {
  width: 360px;
  margin: auto;
  color: white;
}

.menu li {
  color: #2f67fa;
  font-weight: 400;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
}
.menu li img {
  cursor: pointer;
}
.restart {
  margin-left: 6.4em;
}
.askInput {
  width: 360px;
  height: 44px;
  border-radius: 41px;
  margin: auto;
}
.askContainer {
  text-align: center;
  margin-top: 2em;
}

.ValidationButtonContainer {
  width: 360px;
  margin: auto;
}
.buttonContainer {
  margin-top: 15em;
}

.footerContainer {
  margin-top: 3em;
  margin-bottom: 2em;
}
