/** @format */

.cardContainer {
  /* background-color: transparent; */
  max-width: 360px;
  border: none;
  margin: 0;
  margin: auto;
  font-family: "DM Sans", sans-serif !important;
  position: relative;
}
.cardContent {
  display: flex;
}

.sortListItemHeading {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
.sortListItemPara {
  color: #595959;
  font-weight: 700;
  font-size: 16px;
  margin: -0.3em 0;
}
.reviewContainer {
  width: 230px;
  display: flex;
  align-items: center;
  margin-top: 0.5em;
}
.reviewIcon {
  cursor: pointer;
  margin-right: 10px;
}
#share {
  cursor: pointer;
}
#chat {
  margin: 0 10px 0 20px;
}
.heartCount {
  color: #595959;
  margin: 0;
}
.imagesContainer {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.imagesContainer img {
  cursor: pointer;
}
