/** @format */
@font-face {
  font-family: "Recoleta";
  src: url("../../public/assets/Fonts/Recoleta-RegularDEMO.ttf")
    format("opentype");
}
.productHeading {
  padding: 0 13px;
  font-size: 20px;
  font-family: "Recoleta", sans-serif;
  font-weight: 900;
  line-height: 27.2px;
}
.imageContainer {
  cursor: pointer;
}

.suggestOutline:active {
  background-color: #cee542;
}

.public {
  margin-right: 1em;
  background-color: #cee542;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  padding: 0.2em;
}
