/** @format */

.container {
  width: 100%;
  height: 100vh;
  background-color: #f2f2f7;
}
.selectBtn {
  border: none;
  font-size: 14px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  color: #101036;
}
#cancel {
  color: #6000da;
}
