/** @format */
@font-face {
  font-family: "Recoleta";
  src: url("../../public/assets/Fonts/Recoleta-RegularDEMO.ttf")
    format("opentype");
}
.privacySection {
  width: 100%;
  height: 1024px;
  background-color: #f2f2f7;
  padding: 2rem;
}
.privacyContent {
  width: 365px;
  margin: auto;
}
.leftArrow {
  cursor: pointer;
  margin-top: 1em;
  margin-bottom: 1rem;
}
.legalHeading {
  font-family: Recoleta;
  font-size: 28px;
  color: #101036;
  font-weight: 900;
}
.privacyPara {
  color: #101036;
  font-weight: 500;
  font-size: 14px;
}
